[submodule "src/roboy_communication"]
	path = src/roboy_communication
	url = https://github.com/Roboy/roboy_communication
[submodule "src/roboy_plexus"]
	path = src/roboy_plexus
	url = https://github.com/Roboy/roboy_plexus
[submodule "src/common_utilities"]
	path = src/common_utilities
	url = https://github.com/Roboy/common_utilities
[submodule "src/roboy_control_center"]
	path = src/roboy_control_center
	url = https://github.com/roboy/roboy_control_center
[submodule "src/kindyn"]
	path = src/kindyn
	url = https://github.com/CARDSflow/kindyn
[submodule "src/robots"]
	path = src/robots
	url = https://github.com/roboy/roboy3_models
[submodule "src/cardsflow_rviz"]
	path = src/cardsflow_rviz
	url = https://github.com/CARDSflow/cardsflow_rviz
[submodule "src/cardsflow_rqt"]
	path = src/cardsflow_rqt
	url = https://github.com/CARDSflow/cardsflow_rqt
[submodule "src/pysdf"]
	path = src/pysdf
	url = https://github.com/Roboy/pysdf
[submodule "src/ball_in_socket_estimator"]
	path = src/ball_in_socket_estimator
	url = https://github.com/Roboy/ball_in_socket_estimator
[submodule "src/roboy_state_estimator"]
	path = src/roboy_state_estimator
	url = https://github.com/Roboy/roboy_state_estimator
